<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Set Up - All</td></tr>
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">Automating tasks with the Unix shell</a> - Aaron Anderson </td></tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>11:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://maxim-belkin.github.io/git-novice/">Version control with Git</a> - Maxim Belkin</td></tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/">Building programs with Python</a> - Matthew Turk </td></tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="http://katyhuff.github.io/python-testing/">Testing your Code</a> - Kathryn Huff </td></tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
